.navbar {
  background: red;
  color: #fff !important;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

.navbar-nav {
  gap: 1rem;
}

.nav-link {
  display: flex;
  justify-content: center !important;
  align-itens: center !important;
  color: #fff !important;
  border-radius: 10px;
  max-width: 11rem;
  margin: 0 auto;
  gap: 10px;
  padding: 0 10px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.nav-link div {
  display: flex;
  aling-itens: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 0 auto;
}


<!-- HTML !-->
<button class="button-64" role="button">
  <span class="text">Button 64</span>
  /button>

/* CSS */
.nav-link {
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 div {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover div {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}